---
openapi: 3.1.0
info:
  title: Maetry API
  version: 1.0.0
  description: Generated from current registered RouteCollection methods and shared
    DTO schemas.
servers:
- url: https://api.maetry.com/v1
- url: https://api-dev-601862402938.us-west2.run.app/v1
- url: https://api-app-601862402938.us-west2.run.app/v1
paths:
  "/v1/public/booking/salon/{salonId}":
    post:
      operationId: postPublicBookingSalonBysalonIdBy
      tags:
      - Public Booking
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostPublicBookingSalonBysalonIdByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: salonId
        required: true
        schema:
          type: string
  "/v1/public/booking/appointment/{appointmentId}":
    get:
      operationId: getPublicBookingAppointmentByappointmentIdBy
      tags:
      - Public Booking
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetPublicBookingAppointmentByappointmentIdByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: appointmentId
        required: true
        schema:
          type: string
  "/v1/wallet/apple/booking/{id}":
    get:
      operationId: getWalletAppleBookingByidBy
      tags:
      - Wallet Passes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetWalletAppleBookingByidByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/v1/wallet/google/booking/{id}":
    get:
      operationId: getWalletGoogleBookingByidBy
      tags:
      - Wallet Passes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetWalletGoogleBookingByidByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/v1/bookings":
    post:
      operationId: postBookings
      tags:
      - Bookings для клиентов
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostBookingsResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
    get:
      operationId: getBookings
      tags:
      - Bookings для клиентов
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetBookingsCursorPageResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - "$ref": "#/components/parameters/Limit"
      - "$ref": "#/components/parameters/Cursor"
  "/v1/bookings/{id}":
    get:
      operationId: getBookingsByidBy
      tags:
      - Bookings для клиентов
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetBookingsByidByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    patch:
      operationId: patchBookingsByidBy
      tags:
      - Bookings для клиентов
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PatchBookingsByidByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    delete:
      operationId: deleteBookingsByidBy
      tags:
      - Bookings для клиентов
      responses:
        '204':
          description: No Content
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/v1/bookings/{id}/confirm":
    post:
      operationId: postBookingsByidByConfirm
      tags:
      - Bookings для клиентов
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostBookingsByidByConfirmResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/v1/bookings/open":
    get:
      operationId: getBookingsOpen
      tags:
      - Bookings для клиентов
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetBookingsOpenResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
  "/v1/bookings/{id}/accept":
    post:
      operationId: postBookingsByidByAccept
      tags:
      - Bookings для клиентов
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostBookingsByidByAcceptResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/v1/appointments":
    get:
      operationId: getAppointments
      tags:
      - Appointments для клиентов
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetAppointmentsResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
  "/v1/appointments/{id}":
    get:
      operationId: getAppointmentsByidBy
      tags:
      - Appointments для клиентов
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetAppointmentsByidByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/v1/appointments/{id}/cancel":
    post:
      operationId: postAppointmentsByidByCancel
      tags:
      - Appointments для клиентов
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostAppointmentsByidByCancelResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/v1/workspace/appointments":
    get:
      operationId: getWorkspaceAppointments
      tags:
      - Appointments для работников
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetWorkspaceAppointmentsResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
  "/v1/workspace/appointments/{id}":
    get:
      operationId: getWorkspaceAppointmentsByidBy
      tags:
      - Appointments для работников
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetWorkspaceAppointmentsByidByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    patch:
      operationId: patchWorkspaceAppointmentsByidBy
      tags:
      - Appointments для работников
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PatchWorkspaceAppointmentsByidByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/v1/workspace/appointments/{id}/cancel":
    post:
      operationId: postWorkspaceAppointmentsByidByCancel
      tags:
      - Appointments для работников
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostWorkspaceAppointmentsByidByCancelResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/v1/workspace/bookings":
    post:
      operationId: postWorkspaceBookings
      tags:
      - Bookings для работников
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostWorkspaceBookingsResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
    get:
      operationId: getWorkspaceBookings
      tags:
      - Bookings для работников
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetWorkspaceBookingsCursorPageResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - "$ref": "#/components/parameters/Limit"
      - "$ref": "#/components/parameters/Cursor"
  "/v1/workspace/bookings/open":
    post:
      operationId: postWorkspaceBookingsOpen
      tags:
      - Bookings для работников
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostWorkspaceBookingsOpenResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
  "/v1/workspace/bookings/{id}":
    get:
      operationId: getWorkspaceBookingsByidBy
      tags:
      - Bookings для работников
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetWorkspaceBookingsByidByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    patch:
      operationId: patchWorkspaceBookingsByidBy
      tags:
      - Bookings для работников
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PatchWorkspaceBookingsByidByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    delete:
      operationId: deleteWorkspaceBookingsByidBy
      tags:
      - Bookings для работников
      responses:
        '204':
          description: No Content
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/v1/workspace/bookings/{id}/confirm":
    post:
      operationId: postWorkspaceBookingsByidByConfirm
      tags:
      - Bookings для работников
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostWorkspaceBookingsByidByConfirmResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/v1/timetables/search-slots":
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - "$ref": "#/components/schemas/TimetableParametersSearchSlotComplex"
              - "$ref": "#/components/schemas/TimetableParametersSearchSlotProcedure"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - "$ref": "#/components/schemas/TimetableResponsesComplexSlots"
                - "$ref": "#/components/schemas/TimetableResponsesProcedureSlots"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: header
        schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        name: Device-ID
      operationId: postTimetablesSearch-slots
      tags:
      - Timetables
      description: Возвращает свободные слоты времени для записи
      summary: Search Slots
      security:
      - Bearer_unauthorized: []
  "/v1/timetables/schedules":
    get:
      operationId: getTimetablesSchedules
      description: Возвращает расписания для employee или salon
      security:
      - Bearer_unauthorized: []
      tags:
      - Timetables
      summary: Get Schedules
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                ArrayTimetableResponsesSchedule:
                  "$ref": "#/components/examples/ArrayTimetableResponsesSchedule"
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TimetableResponsesSchedule"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: query
        schema:
          items:
            type: string
          type: array
        name: owners
        required: true
        examples:
          default:
            value:
            - employee:F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - schema:
          "$ref": "#/components/schemas/SafeDateInterval"
        required: true
        name: period
        in: query
        examples:
          default:
            value:
              start: 782151800.9252181
              end: 782151900.9252181
      - name: Device-ID
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        in: header
  "/v1/timetables/{owner}/{force}":
    post:
      security:
      - Bearer_employee: []
      operationId: postTimetablesByOwnerByForce
      tags:
      - Timetables
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TimetableParametersCreatePattern"
            examples:
              TimetableParametersCreatePattern:
                "$ref": "#/components/examples/TimetableParametersCreatePattern"
        required: true
      description: Создает новое распиание
      parameters:
      - name: Device-ID
        schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        in: header
      - schema:
          type: string
        required: true
        name: owner
        in: path
      - in: path
        schema:
          type: string
        required: true
        name: force
      summary: Сreate Timetable
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: int64
                type: integer
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
  "/v1/workspace/clients":
    get:
      summary: All
      operationId: getWorkspaceClients
      description: Возвращает клиента по по мастеру
      parameters:
      - "$ref": "#/components/parameters/Limit"
      - "$ref": "#/components/parameters/Cursor"
      - name: employees
        required: false
        in: query
        schema:
          items:
            type: string
            format: uuid
          type:
          - array
          - 'null'
        examples:
          default:
            value:
            - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - name: Device-ID
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        in: header
      tags:
      - Client
      security:
      - Bearer_employee: []
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetWorkspaceClientsCursorPageResponse"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
    post:
      summary: Create
      security:
      - Bearer_employee: []
      parameters:
      - schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        name: Device-ID
        in: header
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ClientParametersCreate"
            examples:
              ClientParametersCreate:
                "$ref": "#/components/examples/ClientParametersCreate"
        required: true
      tags:
      - Client
      responses:
        '200':
          content:
            application/json:
              examples:
                ClientResponsesClientInfo:
                  "$ref": "#/components/examples/ClientResponsesClientInfo"
              schema:
                "$ref": "#/components/schemas/ClientResponsesClientInfo"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      description: Создание клиента
      operationId: postWorkspaceClients
  "/v1/workspace/clients/{id}":
    get:
      operationId: getWorkspaceClientsById
      tags:
      - Client
      parameters:
      - in: header
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        name: Device-ID
      - schema:
          type: string
        required: true
        in: path
        name: id
      summary: Retrieve
      security:
      - Bearer_employee: []
      responses:
        '200':
          content:
            application/json:
              examples:
                ClientResponsesClientInfo:
                  "$ref": "#/components/examples/ClientResponsesClientInfo"
              schema:
                "$ref": "#/components/schemas/ClientResponsesClientInfo"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      description: Возвращает клиента
  "/v1/workspace/employees":
    get:
      parameters:
      - name: Device-ID
        schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        in: header
      operationId: getWorkspaceEmployees
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  "$ref": "#/components/schemas/EmployeeResponsesPartial"
                type: array
              examples:
                ArrayEmployeeResponsesPartial:
                  "$ref": "#/components/examples/ArrayEmployeeResponsesPartial"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      description: Возвращает всех сотрудников в салоне
      summary: All
      security:
      - Bearer_employee: []
      tags:
      - Employee
  "/v1/workspace/employees/{id}":
    get:
      summary: Retrieve
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/EmployeeResponsesFull"
              examples:
                EmployeeResponsesFull:
                  "$ref": "#/components/examples/EmployeeResponsesFull"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      security:
      - Bearer_employee: []
      parameters:
      - schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        name: Device-ID
        in: header
      - in: path
        required: true
        schema:
          type: string
        name: id
      operationId: getWorkspaceEmployeesById
      description: Возвращает сотрудника в салоне
      tags:
      - Employee
    put:
      security:
      - Bearer_employee: []
      tags:
      - Employee
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/EmployeeResponsesFull"
              examples:
                EmployeeResponsesFull:
                  "$ref": "#/components/examples/EmployeeResponsesFull"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      operationId: putWorkspaceEmployeesById
      requestBody:
        required: true
        content:
          application/json:
            examples:
              EmployeeParametersPatch:
                "$ref": "#/components/examples/EmployeeParametersPatch"
            schema:
              "$ref": "#/components/schemas/EmployeeParametersPatch"
      summary: Update
      description: Обновляет информацию о сотруднике
      parameters:
      - name: Device-ID
        in: header
        schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - required: true
        schema:
          type: string
        name: id
        in: path
    delete:
      parameters:
      - name: Device-ID
        schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        in: header
      - name: id
        schema:
          type: string
        required: true
        in: path
      description: Увольняет сотрудника из салона
      security:
      - Bearer_employee: []
      summary: Fire
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: integer
                format: int64
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      tags:
      - Employee
      operationId: deleteWorkspaceEmployeesById
  "/v1/workspace/employees/credentials":
    get:
      parameters:
      - schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        name: Device-ID
        in: header
      tags:
      - Employee
      operationId: getWorkspaceEmployeesCredentials
      description: Возвращает доступы для работников
      summary: Credentials
      responses:
        '200':
          content:
            application/json:
              examples:
                CredentialsSet:
                  "$ref": "#/components/examples/CredentialsSet"
              schema:
                "$ref": "#/components/schemas/CredentialsSet"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      security:
      - Bearer_employee: []
  "/v1/workspace/employees/invite":
    post:
      parameters:
      - name: Device-ID
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        in: header
      summary: Invite
      operationId: postWorkspaceEmployeesInvite
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/EmployeeParametersInvite"
            examples:
              EmployeeParametersInvite:
                "$ref": "#/components/examples/EmployeeParametersInvite"
        required: true
      description: Создаёт сотрудника без User и возвращает URL для принятия
      security:
      - Bearer_employee: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/EmployeeResponsesFull"
              examples:
                EmployeeResponsesFull:
                  "$ref": "#/components/examples/EmployeeResponsesFull"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      tags:
      - Employee
  "/v1/workspace/services":
    get:
      description: Возвращает список услуг
      parameters:
      - name: salonsFilter
        in: query
        schema:
          type:
          - array
          - 'null'
          items:
            format: uuid
            type: string
        required: false
        examples:
          default:
            value:
            - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - name: employeesFilter
        in: query
        schema:
          items:
            type: string
            format: uuid
          type:
          - array
          - 'null'
        required: false
        examples:
          default:
            value:
            - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - required: false
        in: query
        name: valueFilter
        schema:
          type:
          - string
          - 'null'
        examples:
          default:
            value: some string
      - name: pagination
        in: query
        required: false
        schema:
          "$ref": "#/components/schemas/Pagination"
        examples:
          default:
            value:
              per: 10
              page: 1
      - name: Device-ID
        in: header
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      security:
      - Bearer_employee: []
      responses:
        '200':
          content:
            application/json:
              examples:
                ServiceResponsesAll:
                  "$ref": "#/components/examples/ServiceResponsesAll"
              schema:
                "$ref": "#/components/schemas/ServiceResponsesAll"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      operationId: getWorkspaceServices
      tags:
      - Service
      summary: All
    post:
      parameters:
      - name: Device-ID
        in: header
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      operationId: postWorkspaceServices
      tags:
      - Service
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ServiceResponsesCreate"
              examples:
                ServiceResponsesCreate:
                  "$ref": "#/components/examples/ServiceResponsesCreate"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      summary: Create
      security:
      - Bearer_employee: []
      requestBody:
        content:
          application/json:
            examples:
              ServiceParametersCreate:
                "$ref": "#/components/examples/ServiceParametersCreate"
            schema:
              "$ref": "#/components/schemas/ServiceParametersCreate"
        required: true
      description: Создаёт новую услугу
  "/v1/workspace/services/{id}":
    get:
      summary: Retrieve
      security:
      - Bearer_employee: []
      operationId: getWorkspaceServicesById
      tags:
      - Service
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ServiceResponsesRetrieve"
              examples:
                ServiceResponsesRetrieve:
                  "$ref": "#/components/examples/ServiceResponsesRetrieve"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - schema:
          type:
          - array
          - 'null'
          items:
            format: uuid
            type: string
        in: query
        name: salonsFilter
        required: false
        examples:
          default:
            value:
            - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - required: false
        in: query
        name: employeesFilter
        schema:
          items:
            type: string
            format: uuid
          type:
          - array
          - 'null'
        examples:
          default:
            value:
            - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - required: false
        schema:
          type:
          - string
          - 'null'
        in: query
        name: valueFilter
        examples:
          default:
            value: some string
      - required: false
        in: query
        name: pagination
        schema:
          "$ref": "#/components/schemas/Pagination"
        examples:
          default:
            value:
              per: 10
              page: 1
      - schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        name: Device-ID
        in: header
      - name: id
        in: path
        required: true
        schema:
          type: string
      description: Возвращает конкретную услугу
    put:
      operationId: putWorkspaceServicesByidBy
      tags:
      - Service
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PutWorkspaceServicesByidByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/v1/workspace/procedures":
    get:
      operationId: getWorkspaceProcedures
      tags:
      - Procedure
      security:
      - Bearer_employee: []
      parameters:
      - in: query
        required: false
        name: salonsFilter
        schema:
          items:
            type: string
            format: uuid
          type:
          - array
          - 'null'
        examples:
          default:
            value:
            - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - name: employeesFilter
        required: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        in: query
        examples:
          default:
            value:
            - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - required: false
        in: query
        name: pagination
        schema:
          "$ref": "#/components/schemas/Pagination"
        examples:
          default:
            value:
              page: 1
              per: 10
      - name: Device-ID
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        in: header
      summary: All
      description: Возвращает процедуры по мастеру или салону
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProcedureResponsesAll"
              examples:
                ProcedureResponsesAll:
                  "$ref": "#/components/examples/ProcedureResponsesAll"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
    post:
      summary: Create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ProcedureParametersCreate"
            examples:
              ProcedureParametersCreate:
                "$ref": "#/components/examples/ProcedureParametersCreate"
      description: Создание процедуры
      security:
      - Bearer_employee: []
      tags:
      - Procedure
      operationId: postWorkspaceProcedures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProcedureResponsesCreate"
              examples:
                ProcedureResponsesCreate:
                  "$ref": "#/components/examples/ProcedureResponsesCreate"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - name: Device-ID
        in: header
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
  "/v1/workspace/procedures/{id}":
    get:
      summary: Retrieve
      operationId: getWorkspaceProceduresById
      description: Возвращает процедуру
      tags:
      - Procedure
      security:
      - Bearer_employee: []
      parameters:
      - name: Device-ID
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        in: header
      - name: id
        required: true
        schema:
          type: string
        in: path
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProcedureResponsesRetrieve"
              examples:
                ProcedureResponsesRetrieve:
                  "$ref": "#/components/examples/ProcedureResponsesRetrieve"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
    put:
      requestBody:
        content:
          application/json:
            examples:
              ProcedureParametersUpdate:
                "$ref": "#/components/examples/ProcedureParametersUpdate"
            schema:
              "$ref": "#/components/schemas/ProcedureParametersUpdate"
        required: true
      summary: Update
      operationId: putWorkspaceProceduresById
      parameters:
      - in: header
        schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        name: Device-ID
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProcedureResponsesUpdate"
              examples:
                ProcedureResponsesUpdate:
                  "$ref": "#/components/examples/ProcedureResponsesUpdate"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      tags:
      - Procedure
      security:
      - Bearer_employee: []
      description: Обновление процедуры
    delete:
      parameters:
      - schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        in: header
        name: Device-ID
      - required: true
        name: id
        in: path
        schema:
          type: string
      responses:
        '204':
          content:
            application/json:
              schema:
                type: integer
                format: int64
          description: No Content
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      security:
      - Bearer_employee: []
      summary: Delete
      tags:
      - Procedure
      operationId: deleteWorkspaceProceduresById
      description: Удаления процедуры
  "/v1/workspace/complex":
    get:
      description: Возвращает комплексы по мастеру или салону
      summary: All
      parameters:
      - required: false
        name: salonsFilter
        in: query
        schema:
          items:
            format: uuid
            type: string
          type:
          - array
          - 'null'
        examples:
          default:
            value:
            - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - in: query
        required: false
        schema:
          items:
            type: string
            format: uuid
          type:
          - array
          - 'null'
        name: employeesFilter
        examples:
          default:
            value:
            - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - name: pagination
        in: query
        required: false
        schema:
          "$ref": "#/components/schemas/Pagination"
        examples:
          default:
            value:
              per: 10
              page: 1
      - schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        name: Device-ID
        in: header
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ComplexResponsesAll"
              examples:
                ComplexResponsesAll:
                  "$ref": "#/components/examples/ComplexResponsesAll"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      operationId: getWorkspaceComplex
      security:
      - Bearer_employee: []
      tags:
      - Complex
    post:
      parameters:
      - in: header
        name: Device-ID
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      requestBody:
        required: true
        content:
          application/json:
            examples:
              ComplexParametersCreate:
                "$ref": "#/components/examples/ComplexParametersCreate"
            schema:
              "$ref": "#/components/schemas/ComplexParametersCreate"
      description: Создание комплекса
      summary: Create
      tags:
      - Complex
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                ComplexResponsesCreate:
                  "$ref": "#/components/examples/ComplexResponsesCreate"
              schema:
                "$ref": "#/components/schemas/ComplexResponsesCreate"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      security:
      - Bearer_employee: []
      operationId: postWorkspaceComplex
  "/v1/workspace/complex/{id}":
    put:
      tags:
      - Complex
      parameters:
      - name: Device-ID
        schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        in: header
      - name: id
        required: true
        schema:
          type: string
        in: path
      description: Обновление комплекса
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ProcedureParametersUpdate"
            examples:
              ProcedureParametersUpdate:
                "$ref": "#/components/examples/ProcedureParametersUpdate"
        required: true
      security:
      - Bearer_employee: []
      summary: Update
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                ProcedureResponsesUpdate:
                  "$ref": "#/components/examples/ProcedureResponsesUpdate"
              schema:
                "$ref": "#/components/schemas/ProcedureResponsesUpdate"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      operationId: putWorkspaceComplexById
    get:
      description: Возвращает комплекс
      tags:
      - Complex
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                ComplexResponsesRetrieve:
                  "$ref": "#/components/examples/ComplexResponsesRetrieve"
              schema:
                "$ref": "#/components/schemas/ComplexResponsesRetrieve"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      summary: Retrieve
      security:
      - Bearer_employee: []
      operationId: getWorkspaceComplexById
      parameters:
      - schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        in: header
        name: Device-ID
      - in: path
        name: id
        required: true
        schema:
          type: string
    delete:
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                format: int64
                type: integer
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      summary: Delete
      security:
      - Bearer_employee: []
      operationId: deleteWorkspaceComplexById
      parameters:
      - name: Device-ID
        in: header
        schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - schema:
          type: string
        in: path
        name: id
        required: true
      tags:
      - Complex
      description: Удаление комплекса
  "/v1/workspace/products":
    get:
      operationId: getWorkspaceProducts
      tags:
      - Product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetWorkspaceProductsResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
    post:
      operationId: postWorkspaceProducts
      tags:
      - Product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostWorkspaceProductsResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
  "/v1/workspace/products/options":
    get:
      operationId: getWorkspaceProductsOptions
      tags:
      - Product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetWorkspaceProductsOptionsResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
  "/v1/workspace/products/{id}":
    get:
      operationId: getWorkspaceProductsByidBy
      tags:
      - Product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetWorkspaceProductsByidByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    put:
      operationId: putWorkspaceProductsByidBy
      tags:
      - Product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PutWorkspaceProductsByidByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    delete:
      operationId: deleteWorkspaceProductsByidBy
      tags:
      - Product
      responses:
        '204':
          description: No Content
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/v1/workspace/products/{id}/stock-adjustments":
    get:
      operationId: getWorkspaceProductsByidByStockAdjustments
      tags:
      - Product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetWorkspaceProductsByidByStockAdjustmentsResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    post:
      operationId: postWorkspaceProductsByidByStockAdjustments
      tags:
      - Product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostWorkspaceProductsByidByStockAdjustmentsResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/v1/workspace/positions":
    post:
      tags:
      - Position
      summary: Create
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PositionResponsesFull"
              examples:
                PositionResponsesFull:
                  "$ref": "#/components/examples/PositionResponsesFull"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - name: Device-ID
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        in: header
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PositionParametersCreate"
            examples:
              PositionParametersCreate:
                "$ref": "#/components/examples/PositionParametersCreate"
        required: true
      security:
      - Bearer_employee: []
      operationId: postWorkspacePositions
      description: Создает должность
    get:
      operationId: getWorkspacePositions
      security:
      - Bearer_employee: []
      summary: All
      parameters:
      - name: Device-ID
        in: header
        schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      responses:
        '200':
          content:
            application/json:
              examples:
                ArrayPositionResponsesFull:
                  "$ref": "#/components/examples/ArrayPositionResponsesFull"
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/PositionResponsesFull"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      description: Возвращает все должности
      tags:
      - Position
  "/v1/workspace/positions/{id}":
    get:
      security:
      - Bearer_employee: []
      parameters:
      - in: header
        name: Device-ID
        schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - in: path
        schema:
          type: string
        required: true
        name: id
      description: Возвращает должность
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PositionResponsesFull"
              examples:
                PositionResponsesFull:
                  "$ref": "#/components/examples/PositionResponsesFull"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      operationId: getWorkspacePositionsById
      summary: Retrieve
      tags:
      - Position
    put:
      summary: Update
      parameters:
      - in: header
        name: Device-ID
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - schema:
          type: string
        required: true
        name: id
        in: path
      operationId: putWorkspacePositionsById
      tags:
      - Position
      security:
      - Bearer_employee: []
      requestBody:
        required: true
        content:
          application/json:
            examples:
              PositionParametersPatch:
                "$ref": "#/components/examples/PositionParametersPatch"
            schema:
              "$ref": "#/components/schemas/PositionParametersPatch"
      description: Обновляет должность
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PositionResponsesFull"
              examples:
                PositionResponsesFull:
                  "$ref": "#/components/examples/PositionResponsesFull"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
    delete:
      parameters:
      - name: Device-ID
        in: header
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - in: path
        name: id
        required: true
        schema:
          type: string
      description: Удаляет должность
      operationId: deleteWorkspacePositionsById
      summary: Delete
      security:
      - Bearer_employee: []
      tags:
      - Position
      responses:
        '204':
          content:
            application/json:
              schema:
                type: integer
                format: int64
          description: No Content
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
  "/v1/workspace/offtime/{owner}":
    post:
      operationId: postWorkspaceOfftimeByOwner
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OfftimeResponsesFull"
              examples:
                OfftimeResponsesFull:
                  "$ref": "#/components/examples/OfftimeResponsesFull"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      summary: Create
      parameters:
      - name: Device-ID
        in: header
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - required: true
        in: path
        name: owner
        schema:
          type: string
      tags:
      - Offtime
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OfftimeParametersCreate"
            examples:
              OfftimeParametersCreate:
                "$ref": "#/components/examples/OfftimeParametersCreate"
        required: true
      description: создает новый offtime
      security:
      - Bearer_employee: []
    get:
      summary: All
      operationId: getWorkspaceOfftimeByOwner
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                ArrayOfftimeResponsesFull:
                  "$ref": "#/components/examples/ArrayOfftimeResponsesFull"
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/OfftimeResponsesFull"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      security:
      - Bearer_employee: []
      description: возвращает все его offtime по TimetableOwner
      parameters:
      - name: Device-ID
        in: header
        schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - schema:
          type: string
        in: path
        name: owner
        required: true
      tags:
      - Offtime
  "/v1/workspace/offtime/{id}":
    delete:
      description: удаляет offtime, к примеру employee решил выйти из отпуска раньше
      parameters:
      - in: header
        name: Device-ID
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      - required: true
        name: id
        schema:
          type: string
        in: path
      tags:
      - Offtime
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                format: int64
                type: integer
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      operationId: deleteWorkspaceOfftimeById
      security:
      - Bearer_employee: []
      summary: Delete
  "/v1/workspace":
    get:
      operationId: getWorkspace
      summary: Workspaces
      responses:
        '200':
          content:
            application/json:
              examples:
                ArrayWorkspaceResponsesPartial:
                  "$ref": "#/components/examples/ArrayWorkspaceResponsesPartial"
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/WorkspaceResponsesPartial"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      description: Возвращает салоны где работает работник
      tags:
      - Workspace
      parameters:
      - in: header
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        name: Device-ID
      security:
      - Bearer_authorized: []
    post:
      description: Создаёт новый салон
      parameters:
      - name: Device-ID
        in: header
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      summary: Create
      requestBody:
        required: true
        content:
          application/json:
            examples:
              WorkspaceParametersCreate:
                "$ref": "#/components/examples/WorkspaceParametersCreate"
            schema:
              "$ref": "#/components/schemas/WorkspaceParametersCreate"
      tags:
      - Workspace
      operationId: postWorkspace
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                WorkspaceResponsesFull:
                  "$ref": "#/components/examples/WorkspaceResponsesFull"
              schema:
                "$ref": "#/components/schemas/WorkspaceResponsesFull"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      security:
      - Bearer_authorized: []
    put:
      operationId: putWorkspace
      tags:
      - Workspace
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WorkspaceParametersPatch"
            examples:
              WorkspaceParametersPatch:
                "$ref": "#/components/examples/WorkspaceParametersPatch"
        required: true
      security:
      - Bearer_employee: []
      parameters:
      - name: Device-ID
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        in: header
      description: Обновляет салон если есть разрешения
      responses:
        '200':
          content:
            application/json:
              examples:
                WorkspaceResponsesFull:
                  "$ref": "#/components/examples/WorkspaceResponsesFull"
              schema:
                "$ref": "#/components/schemas/WorkspaceResponsesFull"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
    delete:
      tags:
      - Workspace
      security:
      - Bearer_employee: []
      description: Удаляет салон если есть разрешения
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: integer
                format: int64
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - name: Device-ID
        in: header
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      summary: Delete
      operationId: deleteWorkspace
  "/v1/workspace/{id}":
    get:
      description: Возвращает салон
      tags:
      - Workspace
      security:
      - Bearer_authorized: []
      operationId: getWorkspaceById
      summary: Retrieve
      parameters:
      - name: Device-ID
        schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        in: header
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                WorkspaceResponsesFull:
                  "$ref": "#/components/examples/WorkspaceResponsesFull"
              schema:
                "$ref": "#/components/schemas/WorkspaceResponsesFull"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
  "/v1/workspace/activate":
    put:
      tags:
      - Workspace
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WorkspaceResponsesFull"
              examples:
                WorkspaceResponsesFull:
                  "$ref": "#/components/examples/WorkspaceResponsesFull"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      description: Активирует салон если есть разрешения и соблюдены условия
      summary: Activate
      operationId: putWorkspaceActivate
      security:
      - Bearer_employee: []
      parameters:
      - in: header
        schema:
          format: uuid
          type: string
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        name: Device-ID
  "/v1/workspace/deactivate":
    put:
      tags:
      - Workspace
      operationId: putWorkspaceDeactivate
      responses:
        '200':
          content:
            application/json:
              examples:
                WorkspaceResponsesFull:
                  "$ref": "#/components/examples/WorkspaceResponsesFull"
              schema:
                "$ref": "#/components/schemas/WorkspaceResponsesFull"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - name: Device-ID
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        in: header
      description: Деактивирует салон если есть разрешения
      summary: Deactivate
      security:
      - Bearer_employee: []
  "/v1/subscriptions":
    get:
      tags:
      - Subscriptions
      description: Возвращает всевозможные планы подписок
      summary: Get all subscription plans
      operationId: getSubscriptions
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentSubscriptionResponse"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: header
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
        name: Device-ID
      security:
      - Bearer_employee: []
  "/v1/subscriptions/current":
    get:
      operationId: getSubscriptionsCurrent
      tags:
      - Subscriptions
      description: Возвращает текущий план салона
      security:
      - Bearer_employee: []
      summary: Get salon current subscription plan
      parameters:
      - in: header
        name: Device-ID
        schema:
          type: string
          format: uuid
          examples:
          - F3947DAF-51F0-4310-BDDF-5A1A4131CEDE
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SubscriptionResponse"
          description: OK
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
  "/v1/payments_webhook":
    post:
      description: POST /payments_webhook
      tags:
      - Subscriptions
      operationId: postPaymentsWebhook
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostPaymentsWebhookResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
  "/v1/payment/redirect":
    get:
      operationId: getPaymentRedirect
      tags:
      - Subscriptions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetPaymentRedirectResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
  "/v1/marketing/campaigns":
    get:
      operationId: getMarketingCampaigns
      tags:
      - MarketingRouterCollection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetMarketingCampaignsResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
    post:
      operationId: postMarketingCampaigns
      tags:
      - MarketingRouterCollection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostMarketingCampaignsResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
  "/v1/marketing/campaigns/{id}":
    get:
      operationId: getMarketingCampaignsByidBy
      tags:
      - MarketingRouterCollection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetMarketingCampaignsByidByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    put:
      operationId: putMarketingCampaignsByidBy
      tags:
      - MarketingRouterCollection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PutMarketingCampaignsByidByResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    delete:
      operationId: deleteMarketingCampaignsByidBy
      tags:
      - MarketingRouterCollection
      responses:
        '204':
          description: No Content
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/ValidationError"
        '500':
          "$ref": "#/components/responses/InternalError"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/v1/marketing/campaigns/by-link/{linkId}":
    get:
      operationId: getMarketingCampaignsByLinkBylinkIdBy
      tags:
      - MarketingRouterCollection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetMarketingCampaignsByLinkBylinkIdByResponse"
[...]
